*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: blue; */
}
.container-fluid {
    /* background-image: url(../images/h_img.jpg); */
    /* background-size: cover;
    text-align: center;
    color: white;
    height: 500px;
    background-repeat: no-repeat;
    position: relative; */
  
}

.firstpage {
    background-image: url(../images/h_img.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    height: 500px;
    background-repeat: no-repeat;
    position: relative;
  
}
.about {
    text-align: center;
    margin-top: 40px;
}
.services {
    margin-top: 30px;
    background-image: url(../images/s_image.jpg);
    text-align: center;
    color: white;
}
/* whatwedo class */
.whatwedo {
    /* margin-left: 60px; */
    /* display: flex;
    flex-direction: row; */
    /* margin-top: 150px; */
    text-align: center;
    /* margin-bottom: 70px; */
}
.whatwedo h2 {
    text-align: center;
}
/* design section */
.design {
    margin-right: 50px;
}
#design {
    margin-left: 100px;
}
#product {
    margin-left: 60px;
}
.info {
    display: none;
}
/* portfolio section */
.PORT {
    display: flex;
    flex-direction: row;
    text-align: center;

}
/* class icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 5px 5px; */
    
}
.fa-twitter {
    background-color: #55ACEE;
}