*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: blue; */
}
.container {
    background-image: url(../images/h_img.jpg);
    background-size: cover;
}
.about {
    text-align: center;
    margin-top: 40px;
}